a{
    color: #fff !important;
    text-decoration: none !important;
}
.menu{
    position: absolute !important;
    left: -320px !important;
    width: 330px !important;
    z-index: 1000 !important;
}
@media screen and (max-width:425px){
    .menu{
    position: absolute !important;
    left: -210px !important;
    width: 300px !important;
    z-index: 1000 !important;
    }
}